{% extends 'base.html' %}
{% block title %}employee List{% endblock title %}

{% block body %}
<div class="table-responsive">
  <table class="table table-bordered table-primary">
    <thead class="bg-info">
      <tr>


        <th scope="col">Fullname</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Registration Date</th>


      </tr>
    </thead>
    <tbody>
    {% for employee in employee %}
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.phone }}</td>
        <td> {{ employee.address }}</td>
        <td> {{ employee.date }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock body %}