{% extends 'base.html' %}
{% block title %}Students List{% endblock title %}

{% block body %}
<div class="table-responsive">
  <table class="table table-bordered table-primary">
    <thead class="bg-info">
      <tr>

        <th scope="col">S/N</th>

        <th scope="col">Status</th>

        <th scope="col">Fullname</th>
        <th scope="col">Email</th>
        <th scope"col">Student ID</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Admission Date</th>
        {% if request.user.is_staff %}
        <th scope="col">Action</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
    {% for students in students %}
      <tr class="clickable-row odd" data-href="update_student/<int:id>"role="row"style="cursor:pointer">
        <td>{{forloop.counter }}</td>
        <td>{{ students.status }}</td>
        <td>{{ students.name }}</td>
        <td>{{ students.email }}</td>
        <td>{{ students.id }}</td>
        <td>{{ students.gender }}</td>
        <td>{{ students.phone }}</td>
        <td> {{ students.address }}</td>
        <td> {{ students.date }}</td>
        {% if request.user.is_staff %}
        <td><a href="/update_student/{{students.id}}" class="btn btn-info btn-sm mx-2 border border-dark">Update</a>
          <a href="/deleteStudent/{{students.id}}"class="btn btn-info btn-sm border border-dark"onclick="return confirm('Do you want to delete student')">Delete</a></td>
          {% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>
  

</div>
{% endblock body %}